.keyboard-title {
    text-align: center;
}

.keyboard-input {
    display: block;
    max-width: auto;
    margin: 0 auto;
}

.keyboard-container {
    max-width: 1200px;
    margin: 20px auto 20px auto;
    border: solid 2px;
    height: 280px;
    background-color: rgba(83, 85, 82, 0.904);
}

.keyboard-wrapper {
    max-width: 800px;
    margin: 15px auto 15px auto;
    height: 170px;
}

.keyboard-button {
    width: 50px;
    height: 50px;
    color: azure;
    background-color: rgba(83, 85, 82, 0.904);
}

.keyboard-button_backquote,
.keyboard-button_backspace,
.keyboard-button_tab {
    width: 100px;
}

.keyboard-button_slash:before {
    content: '\005C';
}

.keyboard-button_capslock,
.keyboard-button_enter {
    width: 125px;
}

.keyboard-button_shift {
    width: 100px;
}

.keyboard-button_ctrl {
    width: 120px;
}

.keyboard-button_space {
    width: 260px;
}

.keyboard-button_up:before {
    content: '\2191';
}

.keyboard-button_left:before {
    content: '\2190';
}

.keyboard-button_down:before {
    content: '\2193';
}

.keyboard-button_right:before {
    content: '\2192';
}







